{#fragment id=botCard}

{#for bot in allBots}
<div class="col-md-3 mb-4">
    <div class="card bot-card bg-dark text-light border-neon-neon position-relative p-3">

        <!-- Delete Button (Top-Right) -->
        <form method="post" action="/bots/delete" class="position-absolute top-0 end-0 m-2">
            <input type="hidden" name="botId" value="{bot.id}">
            <button type="submit" class="btn btn-neon-red btn-sm">✖</button>
        </form>

        <div class="card-body">
            <h5 class="card-title text-neon-glow text-uppercase mb-4">{bot.parameters.botType}</h5>

            <!-- Status -->
            <p class="neon-label">
                Status:
                <span class="{bot.running ? 'text-glow-green animate-running' : 'text-glow-red'} fw-bold">
                    {bot.running ? 'RUNNING' : 'IDLE'}
                </span>
            </p>

            <p class="neon-label">Long position: <span class="{bot.status.isLong ? 'text-glow-green' : 'text-glow-orange'}">{bot.status.isLong}</span></p>
            <p class="neon-label">Total purchased: <span class="text-glow-green">R${bot.status.totalPurchased ?: 0}</span></p>
            <p class="neon-label">Last purchase price: <span class="text-glow-green">R${bot.status.valueAtTheTimeOfLastPurchase ?: 0}</span></p>
            <p class="neon-label">Quantity: <span class="text-neon-glow">{bot.status.quantity ?: 0}</span></p>

            <div class="d-flex flex-wrap gap-2 mt-5">
                <a href="/bots/{bot.running ? 'stop' : 'start'}/{bot.id}" methods=""
                   class="btn btn-outline-neon-{bot.running ? 'red' : 'green'} btn-sm "> {bot.running ? 'Stop' : 'Run'} </a>
                <!--<a href="/bots/edit/{bot.id}" class="btn btn-outline-neon btn-sm">Edit</a>
                <a href="#" class="btn btn-outline-neon btn-sm" data-bs-toggle="modal" data-bs-target="#botModal-{bot.id}">
                    More Info
                </a>-->
            </div>
        </div>
    </div>
</div>

{/for}
{/fragment}