{#fragment id=footer}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
      async function fetchPrices() {
        try {
          const symbols = "{workingSymbols ?: ''}".split(',');
          const params = new URLSearchParams({
            symbols: JSON.stringify(symbols)
          });

          const response = await fetch('/refresh-data?' + params);
          const data = await response.json();
          console.log("Fetched data:", data);

          const btcData = data.find(crypto => crypto.symbol === 'BTCUSDT');
          console.log("BTC Data:", btcData);

          const ethData = data.find(crypto => crypto.symbol === 'ETHUSDT');
          console.log("ETH Data:", ethData);

          if (btcData) {
            document.getElementById('btc-price').textContent = btcData.price;
            document.getElementById('btc-updated').textContent = btcData.lastUpdated;
          }
          if (ethData) {
            document.getElementById('eth-price').textContent = ethData.price;
            document.getElementById('eth-updated').textContent = ethData.lastUpdated;
          }
      } catch (error) {
        console.error('Error fetching prices:', error);
      }
    }

  if (window.location.pathname === "/") {
    fetchPrices();
    setInterval(fetchPrices, 2000);
  }
  });

  document.addEventListener('DOMContentLoaded', function () {
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>


<footer class="cyber-footer mt-5 fixed-bottom">
    <div class="container text-center py-1">
        <p class="neon-text mb-1">CryptoBot &copy; 2025</p>
        <div class="social-icons mb-2">
            <a href="https://github.com/Benilsn" target="_blank" class="neon-link me-3">GitHub</a>
            <a href="#" target="_blank" class="neon-link me-3">Discord</a>
            <a href="#" target="_blank" class="neon-link">Contact</a>
        </div>
    </div>
</footer>

{/fragment}