{#fragment id=footer}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!--
<script>
    document.addEventListener("DOMContentLoaded", function () {
      async function fetchPrices() {
        try {
          const response = await fetch('/');
          if (!response.ok) throw new Error('Network response was not ok');
          const data = await response.json();

          document.getElementById('btc-price').textContent = `${btcData.currentPrice}`;
          document.getElementById('eth-price').textContent = `${ethData.currentPrice}`;
      } catch (error) {
        console.error('Error fetching prices:', error);
      }
    }

    fetchPrices();
    setInterval(fetchPrices, 1000);
  });
</script>
-->

<footer class="cyber-footer mt-5 fixed-bottom">
    <div class="container text-center py-4">
        <p class="neon-text mb-1">CryptoBot &copy; 2025</p>
        <div class="social-icons mb-2">
            <a href="https://github.com/Benilsn" target="_blank" class="neon-link me-3">GitHub</a>
            <a href="#" target="_blank" class="neon-link me-3">Discord</a>
            <a href="#" target="_blank" class="neon-link">Contact</a>
        </div>
    </div>
</footer>

{/fragment}