<!DOCTYPE html>
<html lang="en">

{#include 'fragments/head.html'/}

{#include 'fragments/navbar.html'/}

<body>

<!-- Section to display running bots -->
<div class="container my-3 mb-3">
    <h2 class="text-neon text-center mb-3">Active Bots</h2>

    {#if message}
    <script>
        window.addEventListener('DOMContentLoaded', function () {
          const modal = new bootstrap.Modal(document.getElementById('botModal'));
          modal.show();
        });
    </script>
    <div class="modal fade" id="botModal" tabindex="-1" aria-labelledby="botModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
            <div class="modal-content neon-glow border-0 rounded-4 px-3 py-2" style="background-color: #101010;">

                <div class="modal-header border-0 pb-0">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body text-center pt-2 pb-1">
                    <p class="neon-text fs-5">{message}</p>
                </div>

                <div class="modal-footer border-0 justify-content-center pt-1">
                    <button type="button" class="btn btn-create-neon px-4 py-2 fs-6" data-bs-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
    {/if}

    <div class="text-center mb-4">
        <a class="btn btn-create-neon-green mx-2" href="/bots/create">Create</a>
        <a class="btn btn-create-neon-green mx-2" href="/bots/create-from-file">Create from file</a>
        <a class="btn btn-create-neon mx-2" href="#" id="runAllBotsBtn">Run ALL</a>
        <a class="btn btn-create-neon-yellow mx-2" href="/bots/stop-all">Stop ALL<i class="fa-solid fa-person-running-fast fs-4"></i></a>
        <button type="button" class="btn btn-delete-all-neon" data-bs-toggle="modal" data-bs-target="#deleteAllBotsModal">Delete ALL</button>
        <!-- Neon Modal -->
        <div class="modal fade" id="deleteAllBotsModal" tabindex="-1" aria-labelledby="deleteAllBotsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-neon" style="background:#101010;">
                    <div class="modal-header border-0">
                        <h5 class="modal-title text-neon" id="deleteAllBotsModalLabel">Confirm Deletion</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="text-neon-glow fs-5">
                            Are you sure you want to <span class="text-glow-red">delete ALL bots</span>?<br>
                            <span class="text-glow-yellow">This action cannot be undone!</span>
                        </p>
                    </div>
                    <div class="modal-footer border-0 justify-content-center">
                        <button type="button" class="btn btn-outline-neon" data-bs-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-delete-all-neon" href="/bots/delete-all">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 100px;">
        {#include 'fragments/botCard.html'/}
    </div>
</div>

<!-- Modal de Carregamento -->
<div class="modal fade" id="loadingBotsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loadingBotsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-neon" style="background:#101010;">
            <div class="modal-header border-0">
                <h5 class="modal-title text-neon" id="loadingBotsModalLabel">Starting bots</h5>
            </div>
            <div class="modal-body text-center py-4">
                <p class="text-neon-glow fs-5 mb-4">
                    <span class="text-glow-green">Initializing all bots ...</span>
                </p>
                <div class="spinner-border text-neon-glow mb-3" role="status" style="width: 3rem; height: 3rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="text-glow-yellow mt-3">This operation can take a few seconds</p>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const runAllBtn = document.getElementById('runAllBotsBtn');

        runAllBtn.addEventListener('click', function(event) {
            event.preventDefault();

            // Mostrar o modal de carregamento
            const loadingModal = new bootstrap.Modal(document.getElementById('loadingBotsModal'));
            loadingModal.show();

            // Redirecionar para a URL após um pequeno delay para garantir que o modal seja exibido
            setTimeout(function() {
                window.location.href = '/bots/run-all';
            }, 300);
        });
    });
</script>
</body>

{#include 'fragments/footer.html'/}

</html>