<!DOCTYPE html>
<html lang="en">

{#include 'fragments/head.html'/}

{#include 'fragments/navbar.html'/}

<body>
<div class="container mb-5">
    <h2 class="text-neon text-center m-4 fs-5"> Bot Details: <p class="neon-label">{bot.id}</p></h2>

    <div class="card bg-dark border-neon p-4 mx-auto bot-card" style="max-width: 500px;">
        <div class="row mb-4">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Status:</p>
                <span class="{bot.running ? 'text-success' : 'text-danger'} fw-bold">{bot.running ? 'RUNNING' : 'IDLE'}</span>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Bot Type:</p>
                <span class="text-neon-glow">{bot.parameters.botType}</span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Resistance:</p>
                <span class="text-neon-glow">${bot.parameters.actualResistance}</span>
            </div>
            <div class="col-6 col-md-6 col-lg-6 ">
                <p class="neon-label mb-1">Interval:</p>
                <span class="text-neon-glow">{bot.parameters.interval}</span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Purchase Price:</p>
                <span class="text-glow-green">${bot.parameters.purchasePrice}</span>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Last Price:</p>
                <span class="text-glow-green">${bot.parameters.lastPrice}</span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">RSI (Sell):</p>
                <span class="text-neon-glow">{bot.parameters.rsiSale}</span>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">RSI (Buy):</p>
                <span class="text-neon-glow">{bot.parameters.rsiPurchase}</span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">SMA Short:</p>
                <span class="text-neon-glow">{bot.parameters.smaShort}</span>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">SMA Long:</p>
                <span class="text-neon-glow">{bot.parameters.smaLong}</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Stop Loss %:</p>
                <span class="text-neon-glow">{bot.parameters.stopLossPercent}</span>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Take Profit %:</p>
                <span class="text-neon-glow">{bot.parameters.takeProfitPercent}</span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6 col-md-6 col-lg-6">
                <p class="neon-label mb-1">Support:</p>
                <span class="text-neon-glow">${bot.parameters.actualSupport}</span>
            </div>
        </div>

        <div class="text-center">
            <a href="/bots" class="btn btn-create-neon ml-3 px-5 py-2">← Back to Bots</a>
        </div>
    </div>
</div>


</body>

{#include 'fragments/footer.html'/}

</html>