<!DOCTYPE html>
<html lang="en">

{#include 'fragments/head.html'/}

{#include 'fragments/navbar.html'/}

<body>
<div class="container my-5">
    <h2 class="text-neon text-center m-4 fs-5"> Bot Details: <p class="neon-label">{bot.id}</p></h2>

    <div class="card bg-dark border-neon p-4 mx-auto">
        <div class="row g-4">

            <!-- Bot Settings -->
            <div class="col-12 col-md-6 col-lg-3 px-5">
                <h5 class="neon-cyan mb-4 fs-4">🛠️ Settings</h5>
                <p class="neon-label">Status: <span class="{bot.running ? 'text-glow-green' : 'text-glow-red'}">{bot.running ? 'RUNNING' : 'IDLE'}</span></p>
                <p class="neon-label">Bot Type: <span class="neon-cyan">{bot.parameters.botType}</span></p>
                <p class="neon-label">Interval: <span class="neon-cyan">{bot.parameters.interval}</span></p>
                <p class="neon-label">Strategy: <span class="neon-cyan">{bot.parameters.purchaseStrategy}</span></p>
                <p class="neon-label">Amount: <span class="neon-cyan">{bot.parameters.purchaseAmount} </span></p>
                <p class="neon-label">Volume X: <span class="neon-cyan">{bot.parameters.volumeMultiplier}</span></p>
                <p class="neon-label">RS Window: <span class="neon-cyan">{bot.parameters.windowResistanceSupport}</span></p>
            </div>

            <!-- Indicators -->
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="neon-yellow mb-4 fs-4">📊 Indicators</h5>
                <p class="neon-label">RSI Buy: <span class="neon-cyan">{bot.parameters.rsiPurchase}</span></p>
                <p class="neon-label">RSI Sell: <span class="neon-cyan">{bot.parameters.rsiSale}</span></p>
                <p class="neon-label">SMA Short: <span class="neon-cyan">{bot.parameters.smaShort}</span></p>
                <p class="neon-label">SMA Long: <span class="neon-cyan">{bot.parameters.smaLong}</span></p>
                <p class="neon-label">Stop Loss: <span class="neon-cyan">{bot.parameters.stopLossPercent}</span></p>
                <p class="neon-label">Take Profit: <span class="neon-cyan">{bot.parameters.takeProfitPercent}</span></p>
            </div>

            <!-- Trade Status -->
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="neon-green mb-4 fs-4">💰 Trade Status</h5>
                <p class="neon-label">Is Long: <span class="neon-cyan">{bot.status.isLong}</span></p>
                <p class="neon-label">Purchase Time: <span class="neon-cyan">{bot.status.purchaseTime}</span></p>
                <p class="neon-label">Purchase Price: <span class="neon-cyan">${bot.status.purchasePrice}</span></p>
                <p class="neon-label">Quantity: <span class="neon-cyan">${bot.status.quantity}</span></p>
                <p class="neon-label">Last Price: <span class="neon-cyan">${bot.status.lastPrice}</span></p>
                <p class="neon-label">Last RSI: <span class="neon-cyan">${bot.status.lastRsi}</span></p>
            </div>

            <!-- Market Stats -->
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="neon-orange mb-4 fs-4">📈 Market Stats</h5>
                <p class="neon-label">Last SMA Short: <span class="neon-cyan">{bot.status.lastSmaShort}</span></p>
                <p class="neon-label">Last SMA Long: <span class="neon-cyan">{bot.status.lastSmaLong}</span></p>
                <p class="neon-label">Last Support: <span class="neon-cyan">{bot.status.actualSupport}</span></p>
                <p class="neon-label">Last Resistance: <span class="neon-cyan">{bot.status.actualResistance}</span></p>
                <p class="neon-label">Last Volume: <span class="neon-cyan">{bot.status.lastVolume}</span></p>
            </div>

            <div class="text-center mt-5">
                <a href="/bots" class="btn btn-create-neon px-5">← Back to Bots</a>
            </div>
        </div>


    </div>




</div>
</body>

{#include 'fragments/footer.html'/}

</html>