<!DOCTYPE html>
<html lang="en">

{#include 'fragments/head.html'/}

{#include 'fragments/navbar.html'/}

<body>

<div class="container my-5 pb-5">
    <h2 class="text-neon text-center mb-4">
        {#if botId == null}
        Create New Bot
        {#else}
        Update Bot
        {/if}
    </h2>

    {#if errors}
    <div class="alert alert-danger">
        <ul>
            {#for err in errors}
            <li>{err}</li>
            {/for}
        </ul>
    </div>
    {/if}

    <form method="post" action="/bots/save" class="bg-dark text-light border-neon p-4 rounded">
        {#if botId}
        <input type="hidden" name="botId" value="{botId}">
        {/if}
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label text-neon">Symbol</label>
                <select name="symbol" class="form-select">
                    {#for symbol in workingSymbols}
                        <option value="{symbol}" {bot.parameters.botType.toString() == symbol ? 'selected' : ''}>{symbol}</option>
                    {/for}
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label text-neon">Interval</label>
                <input type="text" name="interval" class="form-control" placeholder="e.g. 1m, 5m"
                       value="{bot.parameters.interval ?: ''}" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label text-neon">Volume Multiplier</label>
                <input type="number" step="0.01" name="volumeMultiplier" class="form-control" placeholder="e.g. 1.2"
                       value="{bot.parameters.volumeMultiplier ?: ''}">
            </div>
            <div class="col-md-6">
                <label class="form-label text-neon">Support/Resistance Window</label>
                <input type="number" name="windowResistanceSupport" class="form-control" placeholder="e.g. 100"
                       value="{bot.parameters.windowResistanceSupport ?: ''}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label text-neon">Stop Loss (%)</label>
                <div class="input-group">
                    <span class="input-group-text">%</span>
                    <input type="number" min="0" step="any" name="stopLossPercent" class="form-control"
                           placeholder="e.g. 0.5" value="{bot.parameters.stopLossPercent ?: ''}">
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label text-neon">Take Profit (%)</label>
                <div class="input-group">
                    <span class="input-group-text">%</span>
                    <input type="number" min="0" step="any" name="takeProfitPercent" class="form-control"
                           placeholder="e.g. 1.2" value="{bot.parameters.takeProfitPercent ?: ''}">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label text-neon">RSI Purchase</label>
                <input type="number" step="0.01" name="rsiPurchase" class="form-control" placeholder="e.g. 30"
                       value="{bot.parameters.rsiPurchase ?: ''}">
            </div>
            <div class="col-md-6">
                <label class="form-label text-neon">RSI Sale</label>
                <input type="number" step="0.01" name="rsiSale" class="form-control" placeholder="e.g. 70"
                       value="{bot.parameters.rsiSale ?: ''}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label text-neon">Short SMA</label>
                <input type="number" name="smaShort" class="form-control" placeholder="e.g. 9"
                       value="{bot.parameters.smaShort ?: ''}">
            </div>
            <div class="col-md-3">
                <label class="form-label text-neon">Long SMA</label>
                <input type="number" name="smaLong" class="form-control" placeholder="e.g. 21"
                       value="{bot.parameters.smaLong ?: ''}">
            </div>
            <div class="col-md-3">
                <label class="form-label text-neon">Purchase Strategy</label>
                <select name="purchaseStrategy" class="form-select">
                    <option value="AMOUNT" {bot.parameters.purchaseStrategy == 'AMOUNT' ? 'selected' : ''}>AMOUNT
                    </option>
                    <option value="PERCENTAGE" {bot.parameters.purchaseStrategy == 'PERCENTAGE' ? 'selected' : ''}>
                        PERCENTAGE
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label text-neon">Amount</label>
                <div class="input-group">
                    <span class="input-group-text" id="amountSymbol">$</span>
                    <input type="number" name="purchaseAmount" class="form-control" placeholder="e.g. 50"
                           value="{bot.parameters.purchaseAmount ?: ''}" aria-describedby="amountSymbol">
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <button type="submit" class="btn btn-create-neon w-100">
                {#if botId == null}
                Create Bot
                {#else}
                Update Bot
                {/if}
            </button>
        </div>
    </form>

</div>

</body>

{#include 'fragments/footer.html'/}

</html>