<!DOCTYPE html>
<html lang="en">

{#include 'fragments/head.html'/}

{#include 'fragments/navbar.html'/}

<body>

<div class="d-flex flex-column align-items-center my-5">
    <div class="d-flex justify-content-between mb-3">
        <input type="text" id="log-filter" class="form-control neon-input flex-grow-1 me-2"
               placeholder="🔎 Log filter..."/>
        <a href="/clear-trade-log" id="clear-log-btn" class="btn btn-clean-log-neon">Clean all logs</a>
    </div>
    <div class="trade-log-box p-4 mb-5" style="width: 80%; overflow-y: auto;">
        <h4 class="neon-text text-center mb-5">Trade Log</h4>
        <div id="trade-log-content">
            {#for item in data.orEmpty}
            <p class="log-entry">{item}</p>
            {/for}
        </div>
    </div>
</div>

</body>

{#include 'fragments/footer.html'/}

</html>